<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>

      <div class="conteiner-header">
      <div class="conteiner-header-top-bar">
        <img src="img/logo-mercado-liebre.svg" class="logo">

        <form>
          <div class="buscador">
          <input
            type="search"
            placeholder="buscar productos, marcas"
            style="color: gray"
          />
          <button>
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        </form>
      

        <h3 class="subtitulo-heder">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Compra en cuotas y sin tarjeta de credito
        </h3>
      </div>

      <a href="#" class="burger-button">
        <i class="fa-solid fa-bars"></i>
      </a>



      <nav class="navbar">
        <ul class="navbar-left">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="navbar-right">
          <li>
            <a href="/register">Crea tu cuenta <i class="fa-solid fa-id-card"></i></a>
            
          </li>
          <li>
            <a href="\login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a>
            
          </li>
          <li>
            <a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
            
          </li>
        </ul>
      </nav>

      </div>
    </header>

    
    <div class="banner">
      <img src="/img/img-home-banner.jpg" alt="">
  </div>

    <main>
      <section>
        <h2>Basado en tu última visita:</h2>

         <div class="conteiner-productos">
          <article class="product">
            <img src="img/img-cafetera-moulinex.jpg" class="img-producto" alt>
            <div class="info-prod">
              <i class="fa-solid fa-truck"></i>
                <div class="conteiner-infoprducto">
                  <p class="precio">$6.770</p>
                  <p class="descuento">40% OFF</p>
                  <p class="producto">Cafetera Moulinex</p>
                   
            </div>
          </article>
          <article class="product">
          <img src="img/img-macbook-pro-2019.jpg" class="img-producto" alt>
          <div class="info-prod">
            <i class="fa-solid fa-truck"></i>
              <div class="conteiner-infoprducto">
                <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <p class="producto">MacBook Pro 2019</p>
                 
          </div>
          </article>
          <article class="product">
        <img src="img/img-samsung-galaxy-s10.jpg" class="img-producto" alt="Samsung Galaxy S10">
        <div class="info-prod">
          <i class="fa-solid fa-truck"></i>
            <div class="conteiner-infoprducto">
              <p class="precio">$70.500</p>
              <p class="descuento">10% off</p>
              <p class="producto">Samsung Galaxy S10</p>
               
        </div>
          </article>
          <article class="product">
      <img src="img/img-tv-samsung-smart.jpg" class="img-producto" alt="SmartTv Samsung 43">
      <div class="info-prod">
        <i class="fa-solid fa-truck"></i>
          <div class="conteiner-infoprducto">
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <p class="producto">SmartTv Samsung 43"</p>
             
      </div>
          </article>
      </section>

      <section>
        <h2>Sección de Ofertas:</h2>
        <div class="conteiner-productos">
          <article class="product">
            <img src="img/img-cafetera-moulinex.jpg" class="img-producto" alt>
            <div class="info-prod">
              <i class="fa-solid fa-truck"></i>
                <div class="conteiner-infoprducto">
                  <p class="precio">$6.770</p>
                  <p class="descuento">40% OFF</p>
                  <p class="producto">Cafetera Moulinex</p>
                   
            </div>
          </article>
          <article class="product">
          <img src="img/img-macbook-pro-2019.jpg" class="img-producto" alt>
          <div class="info-prod">
            <i class="fa-solid fa-truck"></i>
              <div class="conteiner-infoproducto">
                <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <p class="producto">MacBook Pro 2019</p>
                 
          </div>
          </article>
          <article class="product">
        <img src="img/img-samsung-galaxy-s10.jpg" class="img-producto" alt="Samsung Galaxy S10">
        <div class="info-prod">
          <i class="fa-solid fa-truck"></i>
            <div class="conteiner-infoprducto">
              <p class="precio">$70.500</p>
              <p class="descuento">10% off</p>
              <p class="producto">Samsung Galaxy S10</p>
               
        </div>
          </article>
          <article class="product">
      <img src="img/img-tv-samsung-smart.jpg" class="img-producto" alt="SmartTv Samsung 43">
      <div class="info-prod">
        <i class="fa-solid fa-truck"></i>
          <div class="conteiner-infoprducto">
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <p class="producto">SmartTv Samsung 43"</p>
             
      </div>
          </article>
        </div>
      </section>
    </main>

    <footer>
      <section>
        <div class="footer-section">
          <i class="fa-solid fa-credit-card"></i> 
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>

          <i class="fa-solid fa-gift"></i>
          <h3>Envío gratis desde $2.500</h3>
          <p>
            Solo por estar registrado en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>

          <i class="fa-solid fa-user-shield" ></i>
          <h3>Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegido.
          </p>
        </div>
      </section>
      
  <div class="copyright">
    <ul>
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </ul>
</div>
    </footer>
  </body>
</html>



