*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.createform{
    
    
    margin:auto;
    margin-top: 60px;
    font-family: "Roboto";
    

   }

   .titulo-formulario{
    padding: 10px 0;
    font-size: 20px;
   }



.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
    
}
.control-formulario input{
    margin: 20px 0;
    border: none;
    border-radius: 6px;
    
    
}



.control{
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    font-size: 20px;
}

.intereses{
    display: flex;
    flex-direction:column;
   

}

.intereses label,.perfil-usuario label{
    font-size: 25px;
}
.perfil-usuario{
    text-align: center;
}

.subir-archivo{
    font-size: 25px;
    padding: 10px 0;
}

.container-botones button{
    width: 120px;
    height: 30px;
    margin-top: 10px;
    background-color: #1259c3;
    color:#ebebeb;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-family: 'roboto';
   
}

.container-botones{
    display: flex;
    justify-content: space-evenly;
}


button:hover{
    background-color: #0022AA;
}
 

.input{
   display: inline;
   margin-bottom: 20px;
    border-radius: 4px;
  
    border: 1px solid black;
    font-family: "Roboto";
    font-size: 25px;
    
    
}




