* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.conteiner-header {
  background-color: #eac926;
  padding: 20px;
}
.burger-button {
  background-color: #03264c;
  color: #ffffff;
  display: block;
  max-width: 50px;
  padding: 15px 0;
  text-align: center;
  font-size: 20px;
  margin: auto;
  border-radius: 10px;
}
.logo {
  width: 50%;
}



.subtitulo-heder {
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.buscador {
  display: flex;
    width: 50%;
   justify-content: flex-start;
   
}

.search{
  border: none;
  padding: 5px;
  width: 90%;
  font-size: 15px;
 
}
 .lupa{
  background-color: #fff;
  border:none;
  
 }
.navbar {
  display: none;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

.banner {
  margin: auto;
}

.banner img {
  width: 100%;
  height: 100%;
}

main {
  margin: auto;
  width: 90%;
}

h2{
  font-size: 24px;
  margin: 1rem 0;
  text-align: center;
}


.conteiner-productos{
  background-color: var(--secundario);
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px
}

.product{
  display: flex;
  flex-direction: column;
}
.descripcion{
  display: flex;
  flex-direction: column;
}

.img-producto{
    width: 100%;
}

.info-prod{
  background-color: white;
  padding: 15px;
  position: relative;
  border-top: 1px solid #ebebeb;

}

.info-prod i {
  width: 30px;
  height: 30px;
  border: solid 1px #39b54a;
  color: #39b54a;
  font-size: 16px;
  background-color: #FFF;
  padding: 5px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 20px;
  top: -15px;
}

.precio {
  font-size: 18px;
 width: 30%;
}

.descuento {
  font-size: 16px;
  color: #39b54a ;
  width: 70%;
}

.nom-producto {
  font-size: 16px;
  margin-top: 10px;

}

.conteiner-infoproducto{
  display: flex;
    align-items: center;
}

.footer-section{
  margin-top: 35px;
  text-align: center;
}

.copyright{
  text-align: center;
  color: #6b6b6b;
  font-size: 15px;
  padding: 15px ;
}

@media (min-width: 769px) {

  .search, .lupa{
    
    font-size: 25px;
   
  }
  .buscador {
    display: flex;
      width: auto;
     justify-content: center;
     
  }

  .logo{
    width: 100%;
    
  }
    
  .conteiner-header-top-bar {
    display: flex;
    justify-content: space-between;
  }

  .subtitulo-heder {
    max-width: 350px;
    text-align: right;
  }
  .burger-button {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar ul {
    display: flex;
  }
  .navbar li {
    margin: 0 5px;
  }

  .conteiner-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }
  .product {
    width: 22%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
 
  .footer-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 20px 20px;
    font-size: 20px;
    
  }
  .footer-section i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264c;
  }

  .footer-article i:hover{
    color: #f708ff;
}
}

@media (min-width: 1024px) {
  .conteiner-header-top-bar,
  .navbar {
    max-width: 1200px;
    margin: auto;
  }

  .conteiner-header-top-bar {
    align-items: center;
  }

  .logo {
    width: 250px;
  }
  .subtitulo-heder {
    margin: 0;
    max-width: none;
    font-size: 22px;
    font-weight: 400;
  }
  .navbar li {
    margin: 0 10px;
  }
  .navbar a {
    font-size: 19px;
  }
  
}


